 /*
--------------------
WARNING!
Copyright Thiago Systems Limited.
Explicit permission is required to copy or use any documents from this website
--------------------


/*Specific CSS*/


/* HTML TAG RE-DEFINITIONS */
 /*
--------------------
WARNING!
Copyright Progress Systems Limited.
Explicit permission is required to copy or use any documents from this website
--------------------


/*Specific CSS*/


/* HTML TAG RE-DEFINITIONS */
@import "https://fonts.googleapis.com/css?family=Raleway:400,500,600";

* {}
html {}
body{  font-family:Arial, sans-serif; font-size: 0.9em; color:#333333; background:url(../Images/Custom/Thiago/main_tile.jpg) #eff1f5 top center repeat-x;}
p {color: #333333 ; font-size: 14px; line-height: 20px; margin-bottom: 10px;}
strong {}
a {color:#3a64ad; text-decoration:none;}
a:hover {text-decoration:underline; color:#30a672;}
acronym {border-bottom: 1px dashed #CCCCCC;}
table acronym {}
table acronym img {vertical-align:top;}
font, td {color:#333333 ; font-size: 13px;}
img {}
hr {border: 1px solid #FFFFFF; height: 0; height:1px;}
.RadGrid .rgHeader a {font-style:italic;}
.RadGrid .rgHeader a:hover {}
input {}
.RadGrid .btnImageViewBudgetItems { margin-right: 5px !important;}

/* HEADINGS */
h1 {font-size: 20px; font-weight: bold; padding-bottom: 5px; }
h2 {border-bottom: 1px dashed #ccc; font-size: 1.2em; line-height: 20px; margin-bottom: 10px; margin-top: 20px; padding-bottom: 5px; }
h3 {font-size: 1.2em; padding-bottom: 10px; }
h4 {}
h5 {}
h6 {}


/*MAIN OUTER CONTAINER LAYER*/
.Main {width: 100%; margin-left: auto; margin-right: auto; left: 0; right:0;position:relative; margin-top: 0; float:none;  /*background: url(../Images/Custom/Thiago/main_tile.jpg) repeat-x; background-position: top;*/ }


/* TOP BANNER*/
.TopPanel {background-image: url(../Images/Custom/Thiago/logo.gif);
           background-color:#ffffff;
    background-position: center top;
    background-repeat: no-repeat;
    height: 149px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 1006px;
    box-sizing:border-box;
	}




/* LEFT HAND SIDE NAVIGATION MENU */
.MenuOuterPanel {min-height: 280px; padding-top: 1em; padding-right: 2em;}
.MenuPanel {
    /*background-image: url(../Images/Custom/Thiago/menu_bgr.jpg);
    background-repeat: no-repeat;*/
	
    margin:0;
    padding: 20px 0 0;
    width: 248px;
    z-index: 1000;
	margin-left:2em;
	/*border-bottom:2px solid #f77a52;*/}
.MenuPanel ul {margin-bottom: 0; text-align: left;}
.MenuPanel li {list-style-type: none; background:#3887c2; margin-top:1px; /*background: url(../Images/Custom/Thiago/bullet_greenarrow.png) no-repeat scroll 6px 10px;*/}
.MenuPanel li:first-child { border-radius: 0; overflow:hidden;}
.MenuPanel li:last-child { border-radius: 0; overflow:hidden;}
.MenuPanel li.logoutButton {border-radius:0!important;}
.MenuPanel li.lastMenuItem {}
.MenuPanel li:hover {background-color: #dd7b00; /*url(../Images/Custom/Thiago/bullet_greenarrowB.png) no-repeat scroll 6px 10px}*/}
.MenuPanel a {color: #fff; display: block; font-size: 15px; padding:10px;}
.MenuPanel a:hover { color: #fff;}
.MenuPanel a.menuItemSelected {font-weight: 600; background: #ff8e00; color: #fff;}  
.MenuPanel a.menuItemSelected:hover { font-weight: bold;}

/*CONTENT PANEL CSS*/
.lastLogin {color: #2e3c56; float: right; font-family: Arial,Helvetica,sans-serif; font-size: 12px; left: 0; margin: auto; padding-bottom: 5px; padding-right: 3em; padding-top: 6px; position: absolute; right: 0; top: 120px; width: 1006px; z-index: 1000;}

/*.lastLogin {color: #FFFFFF; font-size: 12px; left: 0; padding-bottom: 5px; padding-right: 10px; padding-top: 8px; width: 986px; z-index: 1000; background-image: url(../Images/Custom/Thiago/mainmenu_bgr.jpg);}*/

.tableFormRowUnselected td  {}
.AddNewUtilityBill {color: #942B2B; font-size: 12px; margin-bottom: 10px; padding: 10px 0 15px 13px; background:#f7f7f7;}
.SecurityText ol {padding-left:20px;}
.SecurityText li {line-height:24px;}

/*NOTE TEXT*/


/* MAIN CONTENT PANEL */
.MainContentPanel { margin-left: auto; margin-right: auto; height: 100%; margin-bottom: 0; padding-bottom: 40px; position: relative; width:1006px;
	 padding: 0 0 30px;
	background-color: #ffffff;
    border-radius: 0;
    box-sizing: border-box;

   /*background-image: url(../Images/Custom/Thiago/content_bkgd.jpg);*/}
.MainContentPanel:after {}


/* CONTENT PANEL */
.ContentPanelPanel {width: 675px; margin-top:10px;  }


/*PAGE TITLE*/
.pageTitle {
	color: #333333; 
	font-size: 1.7em; 
	font-weight: normal; 
	line-height: 2em; 
	padding: 0; 
	text-align: left; 
	float:left; 
	width:100%;
	font-weight:500;
    font-weight:bold;
}

/*CONTENT PANEL*/

.MenuOuterPanel {
    padding-top: 0;
}


/*FOOTER*/
.footerPanel {background: #3886c2;
    border-bottom: 15px solid #2e3c56;
    border-radius: 0;
    float: none;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1006px;}
.footerPanel a { float: left; font-family: Verdana; font-size: 11px; padding-left: 0; text-align: left; text-decoration: none; color: #fff;}
.footerPanel a:hover { text-decoration:underline;}
.footerCopyrightPanel {font-size: 11px; color: #25638a;}
.footerCopyrightPanel a { color: #25638a;font-size: 11px; }
.footerMenuPanel {float: left; left: 20px; top: 15px;}
.footerMenuPanel li {font-size: 11px; color: #fff; padding-right: 20px;}
.FooterLogoRight {}


/*FOOTER Thiago LOGO*/
.footerlogo {}
.FooterLogoRight {width:200px; float: right; height: 20px; margin-left: auto; margin-right: auto; padding-top: 1em; position: relative; right: 1.5em; text-align: right; top: -4em;}
.FooterLogo {float: none; margin: 0 auto; width: 1006px;}

/*TERMS & CONDITIONS*/
.HelpSidebarPanel {}
.Header1 {color: #333333;
    float: left;
    font-size: 1.7em;
    font-weight: 500;
    padding: 0;
	margin:2px 0 20px;
    text-align: left;
    width: 100%;}
.Header2 { color: #515b5e; font-size: 18px; height: 25px; margin-bottom: 3px; margin-top: 13px; padding: 0; text-align: left; font-weight:bold;vertical-align: middle;}
.SecurityText h2{ font-size: 18px; height: 25px; margin-bottom: 10px; margin-top: 20px; padding: 0; text-align: left; font-weight:bold;vertical-align: middle;}
.SecurityText h3 {margin-left:0; font-weight:bold;}
.SecurityText ol {margin:10px 0;}
.SecurityText ol li{list-style:decimal inside none; line-height:20px;}

 /*
--------------------
WARNING!
Copyright Thiago Systems Limited.
Explicit permission is required to copy or use any documents from this website
--------------------


/***************************ONLINE BANKING PAGES *********************************/

*:focus {}
.rgMasterTable {}
.ListPayeesTypeSelectorPanel label {}
label {color: #3a64ad;}
.ListPayeesTypeSelectorPanel label {margin-top: 0px; font-weight:bold;}

/* IN THE PROCESS OF CLEANING UP THE CSS THAT IS WHY ALL THIS CODE IS ABOVE THE LINE COS I DON'T KNOW WHAT IT'S FOR - NIAMH*/
/*___________________________________________________________________________________________________*/



/*HEADING */


/* TEXT CLASSES */
.RequiredFieldIndicator { font-size: 11px; color: #42b852; font-weight: bold; text-align:right; margin-left:3px;}
.required { font-size: 10px; color: #cc0000; font-weight: bold; font-size: 10px; margin-left: 3px; text-align: right;}
.smallfont{ font-size: 9px; color: #999999;}
.TextSmallGreen { font-size: 10px; color: #39b54a; font-weight: bold;}
.TextSmallRed  { font-size: 10px; color: #cc0000; font-weight: bold;}

/* ALIGNMENT */


/*SIDE PANEL FOR KEY*/


/*DROP DOWN LIST*/
.rcbList li div { width: 40px; height: 16px; margin-right: 10px;}
.rcbList li div.txt-acc {margin-bottom:0;}
.rcbList li div.txt-acc-num {}
.rcbList li div.txt-acc-num span {}
.rcbList li div.txt-acc-bal {}


/*FORM CONTAINER*/
.TransferFormPanel, .tableSummary {width: 675px; margin-top:10px; margin-bottom:0; background-color: rgba(216, 220, 229, .5); border-top: 1px solid rgba(216, 220, 229, 1);}
.TransferSideBarPanel { float: right; height: 20px; margin-right: 5px; position: absolute; right: -5px; text-align: right; top: 3px; width: 200px; z-index: 1000;}
.TransactionsAccountSelectorPanel {padding-bottom:10px; }


/*FORM/ TABLE LAYOUTS*/
.tableForm, 
.tableSummary {width: 675px;}
.tableFormRowSelected td { background-color: #c9f4cf;}
.tableFormRowRequired td { background-color: #f9d8dc;}
table tr.fromAccountRow td, 
table tr.fromAccountTextRow td, 
table tr.toAccountRow td, 
table tr.toAccountTextRow td, 
table tr.amountRow td, 
table tr.rcbReadOnly td, 
table tr.tableFormRowSelected td, 
table tr.tableFormRowRequired td, 
table tr.BudgetItemsRow td, 
table tr.tableFormRowUnselected td, 
table tr.tableFormRowUnselected td, 
.TableDeletePayeeSummary td {padding: 10px;}


/*FORM TEXT*/
.HelpSidebarPanel {}
/*.HelpSidebarPanel {width: 150px; min-height: 200px; float: right;}
.TermsImagePanel,.SecurityPolicyImagePanel,.HelpImagePanel {width: 150px; min-height: 200px; background-repeat: no-repeat; background-position: top left;}
.TermsImagePanel { background-image: url(Images/Themes/BlueTheme/terms_img.png);}
.SecurityPolicyImagePanel { background-image:url(Images/Themes/BlueTheme/security_img.png);}
.HelpImagePanel { background-image: url(Images/Themes/BlueTheme/help_img.png);}*/
.Declaration {font-size:14px; color: #D2232A;}
.NTSContainerPanel {}
.NTSContainerPanel .Header1 {color: #25638a;}
.NTSContainerPanel p{color: #25638a;}
.NTSContainerPanel img {top:-45px;}


/*BUTTONS*/
.hiddenSubmitButton{}
span.rbSkinnedButton {background-position:left -22px; margin-left:10px; height:34px;}
input.rbDecorated {background-position:right 0px;}
span.rbSkinnedButton:hover .rbDecorated {/*background-position:right -44px;*/ background-color: #319b52;}
span.rbSkinnedButton:hover {background-position:left -66px;}
.TransferSummaryButtonPanel {background: rgba(216, 220, 229, 1);
    float: left;
    padding: 10px 5px 10px 0;
    width: 665px;
    border-radius: 0;
}

.ManagePayeesButtonPanel {
    background: rgba(216, 220, 229, 1);
    float: left;
    padding:10px 5px 10px 0;
    width: 665px;
    border-radius: 0;
}
.MenuPanel .logoutButton {background: url(../Images/Custom/Thiago/logout_btn.jpg) no-repeat right top; border: 2px solid #2e3c56 !important; color:#2b449b; height: 34px; margin-top: 10px; padding: 0; width: 243px;}
.MenuPanel .logoutButton:hover {background: url(../Images/Custom/Thiago/logout_btnB.jpg) no-repeat scroll right top rgba(0, 0, 0, 0); border: 2px solid #ff8e01 !important; height: 34px; margin-top: 10px; padding: 0; width: 243px;}
.MenuPanel .LogoutButtonPanel {height: 100%;}
.MenuPanel .LogoutButtonPanel a {background: none; color: #2e3c56; display: block; font-weight: bold; padding-bottom: 3px; padding-left: 10px; padding-top: 3px; text-shadow: 1px 1px 1px #FFFFFF; text-align: left; line-height: 28px;}
.MenuPanel .LogoutButtonPanel a:hover {color: #ff8e01; text-decoration: none; background:none; border-bottom:none; background: url(../Images/Custom/Thiago/logout_btnB.jpg) no-repeat scroll right top rgba(0, 0, 0, 0);}
span.RadButton input.rbDecorated:focus, span.RadButton.rbToggleButton, span.RadButton.rbLinkButton, span.RadButton.rbImageButton, span.RadButton:active, span.RadButton:focus, span.RadButton.rbSkinnedButton.rbDisabled {border-bottom: 0px solid #30830c;
	border-right:0px solid #30830c;
	border-left:0px solid #30830c;
	border-top:0px solid #30830c;
	outline: none;}

.TransferButtonPanel {background: rgba(216, 220, 229, 1);
	float: left;
	padding: 10px 10px 10px 0;
    width: 665px;
	position:relative;
    border-radius: 0;
}
	
.ListPayeesButtonPanel {width:100%;
	background: rgba(216, 220, 229, 1);
	float: none;
	padding: 10px 10px 10px 0;
    width: 665px;
	margin-top:1px;
	position:relative;
	top:-11px;
    border-radius: 0;
}


/***********BALANCES***********/


/*BALANCE PANEL*/
.balancesPanel {}
.RadGrid input[type="image"] {}
div.RadGrid .rgWrap {float: left; line-height: 22px; white-space: nowrap;}
div.RadGrid .rgArrPart1 {padding-left:10px;}
div.RadGrid .rgNumPart {padding: 2px 0 0 5px;}
div.RadGrid .rgArrPart2 { padding-right: 10px; padding-left:5px;}
div.RadGrid .rgAdvPart {padding:0 0 0 5px;}
div.RadGrid .rgInfoPart {float:right;}


/***********TRThiagoTIONS***********/


/*TRThiagoTION PANEL*/


/* TRThiagoTION PANEL COMBO BOX */
.TrThiagotionsAccountSelectorPanel {font-weight:bold; color: #4C5E72; line-height: 20px; padding-bottom: 10px;}


/* TRANSFER PANEL FAILED and SUCCESS*/
.transferResultFailed {background: #f9d8dc url(../Images/Custom/Thiago/error.gif) no-repeat 10px 0;padding:10px 15px 10px 80px; color: #25638a; line-height: 18px; font-size:11px; margin-bottom: 10px; min-height: 55px; clear:both;}
.TransferResultFailTitle {color: #dd3a3a; font-size: 14px; font-weight: bold; line-height: 16px; padding-bottom:3px; padding-top: 10px;}
.TransferResultFailText {color: #25638A; font-size:12px; }
.transferResultSuccess { background: #c9f4cf url(../Images/Custom/Thiago/sucess.gif) no-repeat 10px 0; padding: 10px 15px 10px 80px; margin-bottom: 10px; min-height: 55px; clear:both;}
.TransferResultSuccessTitle {color: #399546; font-size: 14px; font-weight: bold; line-height: 16px; padding-bottom: 3px; padding-top: 10px;}
.TransferResultSuccessText {font-size:12px; display:block;}
.fundsTransferSuccessfulHeader {padding-bottom: 15px; font-size: 14px; font-weight: bold; color:#cc0000;}
.fundsTransferFailedHeader {}
.fundsTransferFailedHighlightText {font-weight: bold; color: #cc0000; font-size: 12px;}
.fundsTransferSuccessfulHighlightText {font-weight: bold; color: #399546;}
.tableForm {border-collapse:collapse;}
.InputHint {}
.InputHint a {}
.InputHint a:hover {}
.TransferSummaryPleaseConfirm {font-weight:normal; color: #333333; font-size:14px; line-height: 22px;}


/* USED TO ALLOW THE LOADING PANEL TO HAVE THE LOADER ICON BUT TRANSPARENT BACKGROUND */
div.RadAjax_Thiago .raColor {opacity: 0.2; filter: alpha(opacity=20);  -moz-opacity:0.2; -khtml-opacity: 0.2; background: none repeat scroll 0 0 #000000; }


/*SPECIFIC CSS WHICH MAY OVERWRITE THE ABOVE CSS FOR LAYOUT REASONS
_________________________________________________________________________*/


/* MANAGE PAYEES*/
.ListPayeesTypeSelectorPanel {height: 30px;  width: 625px; clear: both;}
.managePayeesSideBarPanel {float: right; height: 20px; margin-right: 5px; position: absolute; right: -5px; text-align: right; top: 5px;  width: 200px;  z-index: 1000;}
.ListPayeesPanel {}
.newBillUtilityPleaseConfirm { color: #4C5E72; line-height: 20px; padding-bottom: 5px;}
.managePayeesOuterPanel {display: inline; float: left; position: relative; width: 100%; overflow:hidden; background: rgba(216, 220, 229, .5) ; margin-top:10px;}
.addNewBillUtitlityPanel td {padding: 5px 75px 5px 10px;}
.manageExternalPayeesPanel {padding: 0; border-top: 1px solid rgba(216, 220, 229, 1);}
.manageExternalPayeesPanel td {padding: 10px;}
.manageExternalPayeesEditPanel {padding: 0;border-top: 1px solid #dfebef  ;}
.manageExternalPayeesEditPanel td {padding: 10px !important;}
.manageExternalPayeesEditPanel tr.tableFormRowUnselected td, .manageExternalPayeesEditPanel tr.tableFormRowSelected td, .manageExternalPayeesEditPanel tr.tableFormRowRequired td {padding:10px;} 

.manageExternalPayeesEditPanel td
.manageBillPayeesPanel {padding: 0px;}
.manageBillPayeesPanel td {padding:10px;}
.manageBillPayeesPanel td.managePayeesFirstColumn {width:15%;}
.manageExternalPayeesPanel td.managePayeesFirstColumn {width:20%;}
.manageExternalPayeesEditPanel td.managePayeesFirstColumn {width:23%;}
.manageBillPayeesPanel .tableFormRowSelected td input{background:red;}
.manageBillPayeesPanel .BillReferenceAlertPanel {font-family: Arial; font-size: 11px; line-height: 15.7px; margin-top: -63px; position: absolute; right: 12px; width: 280px;}
.DeletePayeePleaseConfirm {font-weight:bold; line-height: 20px; padding-bottom: 5px;}
.TableDeletePayeeSummary {width:675px; background-color: rgba(216, 220, 229, .5); padding: 5px 0; border-top:1px solid rgba(216, 220, 229, 1);}
.DeletePayeeSummaryButtonPanel {background: rgba(216, 220, 229, 1) none repeat scroll 0 0; float: left; padding: 10px 10px 10px 0; width: 665px; border-radius: 0;}
.Approved {color: #54B101; font-size: 11px; font-style: italic;}
.Rejected {color: #b10101; font-size: 11px; font-style: italic;}
.NeedsUpdate {color: #df6400; font-size: 11px; font-style: italic;}
.NeedsUpdate img {vertical-align:top;}
.AwaitingApproval {color: #0082D5; font-size: 11px; font-style: italic;}
.tableBillLookup {width:100%; background: rgba(216, 220, 229, 1);}
.tableBillLookup td {padding: 15px 10px;}
.tableBillLookup td.BillLookupCell1 {width:25%;}
.managePayeesNotAvailableLinkPanel { font-size: 11px;}

/* BILL PAYMENT*/


/* TOOL TIP*/
span.fromAccountTooltipPanel, 
span.toAccountTooltipPanel, 
UpdateRequiredTooltipPanel {vertical-align:middle;}


/* BIC / IBAN CONVERTER TOOLS */

.ManagePayeesConverterPanel {}
.ManagePayeesConverterPanel span {}
.ManagesPayeeConverterButtonPanel span {}
.ManagesPayeeConverterButtonPanel span.rbSkinnedButton {}
.ManagePayeesConverterPanel span input.riTextBox riEnabled {}
.riSingle RadInput RadInput_Thiago {float:right;}
.ManagePayeesConverterTitlePanel {}
.ManagesPayeeConverterButtonPanel {padding: 10px 0; width:100%;}
.ManagePayeesConvertAuxImagePanel {}
input .riTextBox riEnabled {}
.riSingle RadInput RadInput_Thiago .riTextBox riEnabled {width:100%;}


/* ERROR MESSAGE */

.ErrorMessageTrThiagotionsNotPossiblePanel {}


/* BIC / IBAN INFO */

.AlertMessageManagePayeesPanel {}


/* SEPA MESSAGE */

.TransferSepaCompliant {}

/*SMS*/

.MemberAlertMobileNumberNotVerifiedPanel {background: transparent; float: none; height: 100%; margin: 0 auto; /*padding: 10px 20px;*/ width: 950px;}
.MemberAlertInvalidMobileNumberPanel a {border:none;}
.MemberAlertInvalidMobileNumberPanel {padding: 0; width: 974px; background:none;}
.MobileVerificationMainContainerPanelClass {width:670px; padding-top: 0px; }
.MobileVerificationMainContainerPanelClass p {margin-top: 0px;}

.MobileVerificationSendTable, .MobileVerificationReceiveTable, .SMSVerificationTableClass, .SMSVerificationReviewInfoTableClass { background: rgba(216, 220, 229, .5); }
.VerificationCodeAlertMsgRow3, .SMSVerificationTableRow4 {  background: rgba(216, 220, 229, 1); }
.SMSVerificationTableRow4 td {padding:10px 10px 10px;}
.MobileVerificationSendTableRow3 td { background: #dfebef ;}

.sectionContent {background-color: #ecf0f2; }
.ssItemContainer {}
li#ctl00_menuLinkSubscriptionServices,
li#ctl00_MenuLinkMemberDocumentsList,
li#ctl00_MenuLinkLoansList{border:0;}
.lastMenuItem {border:0;}
#ctl00_MenuLinkLodgementsList,
#ctl00_MenuLinkMemberDocumentsList,
#ctl00_MenuLinkChangeAddressList{border:0;}

.SMSVerificationTableClass td {}


/*SUBSCRIPTION SERVICES*/

.sectionHeader {background: #2e3c56; color: white; line-height: 150%;}
.sectionContent {background: rgba(216, 220, 229, .5) ; border-top:2px solid #2e3c56;}
.contentBody, .contentHeader, .ssItemContainer { font-size:12px;}

.contentBody, .contentHeader, .ssItemContainer {line-height:140%; font-size: 14px;}

.ssItemLabel { float: left;
    font-weight: bold;
    margin: 5px 0;
    position: relative;
    width: 100%;
}

    .ssItemLabel::before {
        content:"\2192";
        margin-right: 5px;
        vertical-align: text-bottom;
        font-weight: normal;
        color: green;
    }

input[type="checkbox"], input[type="radio"] {
    margin-left: 3px;
    margin-right: 6px;
    margin-top: 0px;
    position: relative;
    top: 2px;
}

/*---------------------Altarations to mobile verification red stripe----------------------------*/

.MemberAlertMobileNumberNotVerifiedPanel {
    padding:0;
}

.MemberAlertMobileNumberNotVerifiedPanel a {
    border:none;
    border-radius: 5px;
}

.MemberAlerts {
    background: #fff none repeat scroll 0 0;
    margin: auto;
    padding: 10px 0 0;
    width: 1006px;
}

.MobileVerificationSendTable td, .MobileVerificationReceiveTable td {
    padding:10px 10px 10px 10px;
}

/****/

span#ctl00_MainContent_btnGoBack input.rbDecorated, span#ctl00_MainContent_btnDeletePayeeGoBack input.rbDecorated  {
    background-color: #2e3c56;
}

.managePayeesTopCustomPanel2 {
    width: 100%;
}



/** LOADING IN THE PLACE WAS MISSING **/
div.RadAjax_Thiago .raDiv,
div.RadAjax_Thiago .raTransp, 
div.RadAjax_Thiago .raColor {
    background-image: url("../Images/Custom/Thiago/loading.gif") !important;
    background-position: center center !important;
    background-repeat:no-repeat !important;
    background-color: rgba(0,0,0, .2) !important;
}

div.RadAjax_Thiago .raColor {
    opacity: 1 !important;
}
