/* Telerik RadAjaxLoadingPanel WebBlue Skin */

.RadAjax_Thiago .raDiv
{
	background-image:url('Common/loading.gif');
}

.RadAjax_Thiago .raColor
{
	background-color:#e0e8ea;
}

.RadAjax_Thiago .raTransp
{
	opacity:0.7;
	-moz-opacity:0.7;
	filter:alpha(opacity=70);
}