/* RadComboBox WebBlue skin */

/*global*/

.RadComboBox_Thiago,
.RadComboBox_Thiago .rcbInput,
.RadComboBoxDropDown_Thiago
{
	font: 13px Arial, sans-serif;
	color: #666;
}
#ctl00_MainContent_AccountSelector 
{
	padding-left:5px;

}


/* combobox */

.RadComboBox_Thiago .rcbInputCellLeft,
.RadComboBox_Thiago .rcbInputCellRight,
.RadComboBox_Thiago .rcbArrowCellLeft,
.RadComboBox_Thiago .rcbArrowCellRight
{
	background-image: url('ComboBox/rcbSprite_custom.png');
}

.RadComboBox_Thiago td.rcbInputCellLeft { background-position: 0 -110px;}/*EDITED*/
.RadComboBox_Thiago td.rcbInputCellRight { background-position: 100% -110px; }

.RadComboBox_Thiago .rcbHovered td.rcbInputCellLeft { background-position: 0 -66px; }/*EDITED*/
.RadComboBox_Thiago .rcbHovered td.rcbInputCellRight { background-position: 100% -66px; }

.RadComboBox_Thiago .rcbFocused td.rcbInputCellLeft { background-position: 0 -196px; }
.RadComboBox_Thiago .rcbFocused td.rcbInputCellRight { background-position: 100% -196px; }

.RadComboBox_Thiago .rcbDisabled td.rcbInputCellLeft { background-position: 0 -154px; }
.RadComboBox_Thiago .rcbDisabled td.rcbInputCellRight { background-position: 100% -154px; }


/* Read-only styles */

.RadComboBox_Thiago .rcbReadOnly .rcbInputCellLeft { background-position: 0 -240px !important; } /*EDITED*/
.RadComboBox_Thiago .rcbReadOnly .rcbInputCellRight { background-position: 100% -22px;  }

.RadComboBox_Thiago .rcbHovered .rcbReadOnly td.rcbInputCellLeft {background-position: 0 -284px!important;  }
.RadComboBox_Thiago .rcbHovered .rcbReadOnly td.rcbInputCellRight { background-position: 100% -284px;}

.RadComboBox_Thiago .rcbFocused .rcbReadOnly td.rcbInputCellLeft { background-position: 0 -196px!important;; } /*EDITED*/
.RadComboBox_Thiago .rcbFocused .rcbReadOnly td.rcbInputCellRight { background-position: 100% -196px; }

.RadComboBox_Thiago .rcbInputCell .rcbEmptyMessage
{
	color: #666;
	font-size: 13px;
	font-style:normal!important;
}

.RadComboBox_Thiago .rcbHovered .rcbInputCell .rcbInput
{
	color: #333;
}

.RadComboBox_Thiago .rcbFocused .rcbInputCell .rcbInput
{
	color: #333;
}

.RadComboBox_Thiago td.rcbArrowCellLeft { background-position: -18px -153px; } /*EDITED*/
.RadComboBox_Thiago td.rcbArrowCellRight { background-position: 0 -153px; }

.RadComboBox_Thiago .rcbHovered .rcbArrowCellLeft { background-position: -73px -153px; } /*EDITED*/
.RadComboBox_Thiago .rcbHovered .rcbArrowCellRight { background-position: -49px -153px; }

.RadComboBox_Thiago .rcbFocused .rcbArrowCellLeft { background-position: -120px -153px; }/*EDITED*/
.RadComboBox_Thiago .rcbFocused .rcbArrowCellRight { background-position: -97px -153px; }

.RadComboBox_Thiago td.rcbArrowCellHidden { background-position: 100% -110px; }
.RadComboBox_Thiago .rcbHovered td.rcbArrowCellHidden { background-position: 100% -132px; }
.RadComboBox_Thiago .rcbFocused td.rcbArrowCellHidden { background-position: 100% -154px; }

.RadComboBox_Thiago_rtl td.rcbArrowCellHidden { background-position: 0 -110px; }
.RadComboBox_Thiago_rtl .rcbHovered td.rcbArrowCellHidden { background-position: 0 -132px; }
.RadComboBox_Thiago_rtl .rcbFocused td.rcbArrowCellHidden { background-position: 0 -154px; }

/* Read-only styles */

.RadComboBox_Thiago .rcbReadOnly td.rcbArrowCellLeft {background-position: -23px -153px;  } /*EDITED*//**/ 
.RadComboBox_Thiago .rcbReadOnly td.rcbArrowCellRight { background-position: -1px -153px;/**/ }

.RadComboBox_Thiago .rcbHovered .rcbReadOnly .rcbArrowCellLeft { background-position: -214px -153px; } /*EDITED*/
.RadComboBox_Thiago .rcbHovered .rcbReadOnly .rcbArrowCellRight { background-position: -192px -153px !important; }

.RadComboBox_Thiago .rcbFocused .rcbReadOnly .rcbArrowCellLeft { background-position: -120px -153px; }/*EDITED*/
.RadComboBox_Thiago .rcbFocused .rcbReadOnly .rcbArrowCellRight { background-position: -99px -153px !important; }

.RadComboBox_Thiago .rcbReadOnly td.rcbArrowCellHidden { background-position: -15px -88px; }
.RadComboBox_Thiago .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -51px -88px; }
.RadComboBox_Thiago .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -87px -88px; }

.RadComboBox_Thiago_rtl .rcbReadOnly td.rcbArrowCellHidden { background-position: -18px -88px; }
.RadComboBox_Thiago_rtl .rcbHovered .rcbReadOnly td.rcbArrowCellHidden { background-position: -54px -88px; }
.RadComboBox_Thiago_rtl .rcbFocused .rcbReadOnly td.rcbArrowCellHidden { background-position: -90px -88px; }

/* dropdown */

.RadComboBoxDropDown_Thiago .rcbMoreResults a
{
	background-image: url('ComboBox/rcbSprite.png');
}

.RadComboBoxDropDown_Thiago
{
	background: #fff;
	border-color: #acacac;
	color: #333;
	padding: 1px 0 ;
	border-top: 0px solid #6D92A0 !important;
	border-bottom: 1px solid #999 !important;
	border-left: 1px solid #999 !important;
	border-right: 1px solid #999 !important;
}

.RadComboBoxDropDown_Thiago .rcbHeader,
.RadComboBoxDropDown_Thiago .rcbFooter
{
	background-color: #f0f2f4;
	color: #000;
}

.RadComboBoxDropDown_Thiago .rcbHeader
{
	border-bottom-color: #c7dcf9;
}

.RadComboBoxDropDown_Thiago .rcbFooter
{
	border-top-color: #c7dcf9;
}

.RadComboBoxDropDown_Thiago .rcbItem em
{
	background: #e5e5e5;
}

div.RadComboBoxDropDown_Thiago .rcbHovered
{
	padding-left: 6px;
	/*border: 1px solid #5d9fb7;*/ /*EDITED*/
	background: rgba(216, 220, 229, 0.5);
	color: #333;
}

.RadComboBoxDropDown_Thiago .rcbCheckAllItems,
.RadComboBoxDropDown_Thiago .rcbCheckAllItemsHovered {
	color: #787777;
	font-style: italic;
}
.RadComboBoxDropDown_Thiago .rcbCheckAllItemsHovered {
	color: #0e3d4f;
}

.RadComboBoxDropDown_Thiago .rcbSeparator
{
    color: #666;
    background: #D3ECF9;
}

.RadComboBox_Thiago .rcbDisabled .rcbInputCell .rcbInput,
.RadComboBoxDropDown_Thiago .rcbDisabled
{
	color: #999999;
}

.RadComboBox_Thiago .rcbDisabled td.rcbInputCellLeft { background-position: 0 -66px; }
.RadComboBox_Thiago .rcbDisabled td.rcbInputCellRight { background-position: 100% -66px; }
.RadComboBox_Thiago .rcbDisabled td.rcbArrowCellLeft { background-position: -126px -88px; }
.RadComboBox_Thiago .rcbDisabled td.rcbArrowCellRight { background-position: -108px -88px; }
.RadComboBox_Thiago .rcbDisabled .rcbReadOnly td.rcbArrowCellRight { background-position: -240px -153px; }
.RadComboBox_Thiago table.rcbDisabled td.rcbArrowCellHidden,
.RadComboBox_Thiago .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden { background-position: -123px -88px; }
.RadComboBox_Thiago_rtl table.rcbDisabled td.rcbArrowCellHidden,
.RadComboBox_Thiago_rtl .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden { background-position: -126px -88px; }

.RadComboBoxDropDown_Thiago .rcbLoading
{
	background: #f0f0f0;
}

.RadComboBoxDropDown_Thiago .rcbMoreResults
{
	border-top-color: #d3dde4;
	background: #f0f2f4;
	color: #8a8a8a;
}

.RadComboBoxDropDown_Thiago .rcbMoreResults a
{
	background-position: -157px -94px;
}


/*CUSTOM CODE */

.RadComboBoxDropDown .rcbScroll {overflow-y: hidden !important;overflow-x: hidden !important;}
.rcbHeader ul, .rcbFooter ul, .rcbItem ul, .rcbHovered ul, .rcbDisabled ul{ width: 100%; display: inline-block; margin: 0; padding: 0; list-style-type: none; font-size: 11px;}
.rcbHeader ul {width: 95%; display: inline-block; margin: 0; padding: 0;list-style-type: none; font-weight:bold;}        
.fromAccountCol1, .fromAccountCol2, .fromAccountCol3, .toAccountCol1, .toAccountCol2, .toAccountCol3, .toPayeeCol1, .toPayeeCol2, .toPayeeCol3{float: left;margin: 0;padding: 0 0 0 0;line-height: 14px;white-space:nowrap;}
.fromAccountCol1, .toAccountCol1{width: 115px;}
.fromAccountCol2, .toAccountCol2{width: 80px;}
.fromAccountCol3, .toAccountCol3 {width: 40px;}
.toPayeeCol1{ width:155px; }
.toPayeeCol2{ width:65px; }
.toPayeeCol3{ width:60px; }

.RadComboBoxDropDown .rcbItem, .RadComboBoxDropDown .rcbHovered, .RadComboBoxDropDown .rcbDisabled, .RadComboBoxDropDown .rcbLoading {
    margin: 1px; }
.rcbScroll rcbWidth {height:55px;}
#ctl00_MainContent_rdBillPayeesLookup {margin-left:10px;}
#MainContent_managePayeesPanel {background-color: #BFCEA2; border-bottom: 1px dotted #E3E5EC; color: #FFFFFF; float: right;  font-size: 11px; font-weight: bold; padding: 0px;  position: relative; width: 645px; top:0;}
	
table#MainContent_tableBillLookup {padding-left:269px; float:left;}

.RadComboBox .rcbArrowCell a {width:16px !important;}