/*Telerik RadGrid WebBlue Skin*/

/*global*/

.RadGrid_Thiago
{
    /*border:1px solid #9fa6a5;*/ /*EDITED*/
    /*background:#ffffff;*/ /*Edited*/
    color:#000000;
	width: 100% !important;
}

.RadGrid_Thiago,
.RadGrid_Thiago .rgMasterTable,
.RadGrid_Thiago .rgDetailTable,
.RadGrid_Thiago .rgGroupPanel table,
.RadGrid_Thiago .rgCommandRow table,
.RadGrid_Thiago .rgEditForm table,
.RadGrid_Thiago .rgPager table,
.GridToolTip_Thiago
{
    font:12px/18px Arial, sans-serif;
}

.RadGrid_Thiago .rgHeader:first-child,
.RadGrid_Thiago th.rgResizeCol:first-child,
.RadGrid_Thiago .rgFilterRow>td:first-child,
.RadGrid_Thiago .rgRow>td:first-child,
.RadGrid_Thiago .rgAltRow>td:first-child
{
	border-left-width:0;
	padding: 7px 0 7px 7px;

	
}
.RadGrid_Thiago th.rgHeader
{
	color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 13px;
	line-height:15px;
    font-weight: bold;
	white-space: nowrap;
}
.RadGrid_Thiago .rgAdd,
.RadGrid_Thiago .rgRefresh,
.RadGrid_Thiago .rgEdit,
.RadGrid_Thiago .rgDel,
.RadGrid_Thiago .rgFilter,
.RadGrid_Thiago .rgPagePrev,
.RadGrid_Thiago .rgPageNext,
.RadGrid_Thiago .rgPageFirst,
.RadGrid_Thiago .rgPageLast,
.RadGrid_Thiago .rgExpand,
.RadGrid_Thiago .rgCollapse,
.RadGrid_Thiago .rgSortAsc,
.RadGrid_Thiago .rgSortDesc,
.RadGrid_Thiago .rgUpdate,
.RadGrid_Thiago .rgCancel,
.RadGrid_Thiago .rgUngroup,
.RadGrid_Thiago .rgExpXLS,
.RadGrid_Thiago .rgExpDOC,
.RadGrid_Thiago .rgExpPDF,
.RadGrid_Thiago .rgExpCSV,
.RaDgrid_Thiago .rgPager td
{
	background-image:url('Grid/sprite.gif');
}


/*header*/

.RadGrid_Thiago .rgHeaderDiv
{
	background:#e6e8e8 0 -7050px repeat-x url('Grid/sprite.gif'); /*EDITED*/
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -6550px;
}

.RadGrid_Thiago .rgHeader,
.RadGrid_Thiago th.rgResizeCol
{
	border:0px solid;
	/*border-color:#babfbe #9aa1a0 #656b6a #717877;
	border-top-width:0;*/
	background:#415d8f; /*EDITED*/
}

.RadGrid_Thiago th.rgSorted
{
	border-color:#a2a8a7 #9da3a2 #5f6665 #666e6c;
	background-color:#888f8d;
	background-position:0 -2600px;
}

#MainContent_balancesPanel .RadGrid_Thiago .rgHeader,
#MainContent_balancesPanel .RadGrid_Thiago .rgHeader .rgHeaderOver,
#MainContent_balancesPanel .RadGrid_Thiago .rgHeader a,
#MainContent_ListPayeesPanel .RadGrid_Thiago .rgHeader
{
    color: #555555;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	white-space:nowrap;
	
}
#MainContent_ListPayeesPanel .RadGrid_Thiago th.rgHeader, #MainContent_ListPayeesPanel .RadGrid_Thiago td
{
	padding-left:15px;
	padding-right:10px;}


/*rows*/

.RadGrid_Thiago .rgRow td,
.RadGrid_Thiago .rgAltRow td,
.RadGrid_Thiago .rgEditRow td,

/*.RadGrid_Thiago .rgRow .RadGrid input img{ border: 1px solid #F00;}*/
.RadGrid_Thiago .rgRow {padding-left: 5px !important;}
/*.RadGrid_Thiago .rgRow td input img { float: right; border: 1px solid #F00;}*/
{
	/*border-style:solid;
	border-width:0 1px 1px;*/ /*EDITED*/
	border-bottom: 0px solid #b8bcc8; /*EDITED*/
	border-top: 0px solid #b8bcc8; /*EDITED*/
}
.RadGrid_Thiago .rgFooter td 
{	background: #b8c0bb; /*#F8F8DA;*/
	/*border-top:1px dotted #CCCCCC;*/
}
.RadGrid_Thiago .rgRow td 
{
	/*border-color:#ffffff #ffffff #ffffff #e6e8e8; border-top: 1px dotted #CCCCCC; */
}

.RadGrid_Thiago
{
}

.RadGrid_Thiago .rgAltRow td
{
	background: #edf0f5 ;
}

.rgDetailTable .rgAltRow td
{
	/*border-top: 1px dotted #b8bcc8;*/
	background: #edf0f5;
	margin:0;
}

.RadGrid_Thiago .rgAltRow .rgSorted
{
	background-color:#e9f5fe; /*EDITED*/
}

.RadGrid_Thiago .rgRow .rgSorted
{
	background-color:#e9f5fe;
}

.RadGrid_Thiago .rgSelectedRow .rgSorted,
.RadGrid_Thiago .rgActiveRow .rgSorted,
.RadGrid_Thiago .rgHoveredRow .rgSorted,
.RadGrid_Thiago .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_Thiago .rgRow a,
.RadGrid_Thiago .rgAltRow a,
.RadGrid_Thiago .rgEditRow a,
.RadGrid_Thiago .rgFooter a,
.RadGrid_Thiago .rgEditForm a,
.RadGrid_Thiago .rgDetailTable .rgFooter td a 
{
	color: #2b449b;
    display: block;
    float: right;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
}
.RadGrid_Thiago .rgRow a.btnLinkViewBudgetItems {color:#2b449b;  float:right; white-space: nowrap; margin-left:1px; text-decoration:none;}
.RadGrid_Thiago .rgRow a.btnLinkViewBudgetItems:hover {color:#333333; text-decoration:underline;}


.RadGrid_Thiago .rgRow a:hover,
.RadGrid_Thiago .rgAltRow a:hover,
.RadGrid_Thiago .rgEditRow a:hover,
.RadGrid_Thiago .rgFooter a:hover,
.RadGrid_Thiago .rgEditForm a:hover,
.RadGrid_Thiago .rgDetailTable .rgFooter td a:hover 
{
	color:#333333; text-decoration:underline; /*text-shadow: 0 -1px 0 #FFFFFF;*/
}

.RadGrid_Thiago .rgSelectedRow
{
    background:#c2cfca 0 -3900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Thiago .rgSelectedRow .rgSorted{background-color:#c2cfca}
* html .RadGrid_Thiago .rgSelectedRow .rgSorted{background-color:#c2cfca}

.RadGrid_Thiago .rgActiveRow,
.RadGrid_Thiago .rgHoveredRow
{
    background:#edf5f3 0 -2900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Thiago .rgActiveRow .rgSorted,
*+html .RadGrid_Thiago .rgHoveredRow .rgSorted{background-color:#edf5f3}
* html .RadGrid_Thiago .rgActiveRow .rgSorted,
* html .RadGrid_Thiago .rgHoveredRow .rgSorted{background-color:#edf5f3}

.RadGrid_Thiago .rgEditRow
{
	background:#ffffff 0 -4900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Thiago .rgEditRow .rgSorted{background-color:#ffffff}
* html .RadGrid_Thiago .rgEditRow .rgSorted{background-color:#ffffff}

.RadGrid_Thiago .rgSelectedRow td,
.RadGrid_Thiago .rgActiveRow td,
.RadGrid_Thiago .rgHoveredRow td,
.RadGrid_Thiago .rgEditRow td
{
	border-left-width:0;
	border-right-width:0;
	padding-left:8px;
	padding-right:8px;
}

.RadGrid_Thiago .rgSelectedRow td,
.RadGrid_Thiago .rgSelectedRow td.rgSorted
{
	/*border-bottom-color:#3e4542;*/ /*EDITED*/
}

.RadGrid_Thiago .rgActiveRow td,
.RadGrid_Thiago .rgHoveredRow td,
.RadGrid_Thiago .rgActiveRow td.rgSorted,
.RadGrid_Thiago .rgHoveredRow td.rgSorted
{
	border-bottom-color:#abb8b3;
}

.RadGrid_Thiago .rgEditRow td,
.RadGrid_Thiago .rgEditRow td.rgSorted
{
	/*border-color:#ffffff #ffffff #9fa6a5 #ffffff;*/
}

.RadGrid_Thiago .rgDrag
{
	background-image:url('Grid/rgDrag.gif');
}

/*footer*/

.RadGrid_Thiago .rgFooterDiv,
.RadGrid_Thiago .rgFooter
{
	background:#fff;
}

.RadGrid_Thiago .rgFooter tr {}

.RadGrid_Thiago .rgFooter td
{
	
}

/*status*/

.RadGrid_Thiago .rgPager .rgStatus
{
	border:1px solid;
	border-color:#c1c7c6 #bec4c3 #ffffff #bec4c3;
	border-left-width:0;
}

.RadGrid_Thiago .rgStatus div
{
	background-image:url('Common/loading_small.gif');
}

/*pager*/

.RadGrid_Thiago .rgPager
{
	background:#e6e8e8;  
}

/*#ctl00_MainContent_gridTrThiagotions.RadGrid_Thiago td.rgPagerCell
{
	border-top:1px solid;
	border-right:0px;
	border-bottom:1px solid;
	border-left:0px;
	border-color:#c1c7c6 #ffffff #ffffff;
	border-right-width:0;
	padding:15px 0 10px;
}*/

.RadGrid_Thiago .rgInfoPart
{
	color:#717575;
}

.RadGrid_Thiago .rgInfoPart strong
{
	color:#20346A;
}

.RadGrid_Thiago .rgPageFirst
{	
	
	background-position:0 -550px;
}
.RadGrid_Thiago .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_Thiago .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_Thiago .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_Thiago .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_Thiago .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_Thiago .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_Thiago .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_Thiago .rgPager .rgPagerButton
{
	border-color:#777d7c #717877 #69706f;
	background:#e6e8e7 repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#272b2a;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadGrid_Thiago .rgNumPart a:hover,
.RadGrid_Thiago .rgNumPart a:hover span,
.RadGrid_Thiago .rgNumPart a.rgCurrentPage,
.RadGrid_Thiago .rgNumPart a.rgCurrentPage span
{
	background: #cdd1dd;
}

.RadGrid_Thiago .rgNumPart a
{
	color:#20346A;
}

.RadGrid_Thiago .rgNumPart a:hover
{
	background-position:100% -1250px;
	color:#20346A;
}

.RadGrid_Thiago .rgNumPart a:hover span
{
	background-position:0 -1150px;
	cursor:pointer;
	border-radius: 3px; 
	-webkit-border-radius:3px; 
	-khtml-border-radius: 3px; 
	-moz-border-radius: 3px;  
}

.RadGrid_Thiago .rgNumPart a.rgCurrentPage,
.RadGrid_Thiago .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
	color:#FFF;
}

.RadGrid_Thiago .rgNumPart a.rgCurrentPage span,
.RadGrid_Thiago .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1450px;
	padding: 0 0 0 5px;
}

/*sorting, reordering*/

.RadGrid_Thiago .rgHeader .rgSortAsc
{
	background-position:3px -247px;
	height:10px;
}

.RadGrid_Thiago .rgHeader .rgSortDesc
{
	background-position:3px -197px;
	height:10px;
}

.GridReorderTop_Thiago,
.GridReorderBottom_Thiago
{
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_Thiago
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_Thiago .rgFilterRow
{
	background:#e6e8e8;
}

.RadGrid_Thiago .rgFilterRow td
{
    border:1px solid;
    border-top-width:0;
    border-color:#e6e8e8 #e6e8e8 #c1c7c6;
}

.RadGrid_Thiago .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_Thiago .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_Thiago .rgFilterActive,
.RadGrid_Thiago .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_Thiago .rgFilterBox
{
	border-color:#9fa6a5;
	font:12px "segoe ui",arial,sans-serif;
	color:#000000;
}

/*filter context menu*/

.RadMenu_Thiago .rgHCMClear,
.RadMenu_Thiago .rgHCMFilter
{
	border-color:#777d7c #717877 #69706f;
	background:#e6e8e7 center -23px repeat-x url('FormDecorator/ButtonSprites.gif');
	color:#272b2a;
	font-family:"segoe ui",arial,sans-serif;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.RadMenu_Thiago .rgHCMClear:hover,
.RadMenu_Thiago .rgHCMFilter:hover
{
	border-color:#abb8b3;
	background-position:center -67px;
	background-color:#edf5f3;
	color:#464f4c;
}

/*context menu*/

.GridContextMenuWebBlue .rmLeftImage
{
	background-image:url('Common/contextMenu.gif');
}

.GridContextMenuWebBlue .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenuWebBlue .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenuWebBlue .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenuWebBlue .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenuWebBlue .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenuWebBlue .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenuWebBlue .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenuWebBlue .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_Thiago .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #656b6a;
	background:#fafffe;
}

.RadGrid_Thiago .rgGroupPanel td
{
	border:0;
	padding:3px;
	vertical-align:middle;
}

.RadGrid_Thiago .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_Thiago .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_Thiago .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_Thiago .rgUngroup
{
	background-position:0 -6500px;
}

.RadGrid_Thiago .rgGroupItem
{
	border:1px solid #717575;
	background:#fcfffe;
	color:#8fa6a3;
}

.RadGrid_Thiago .rgGroupHeader
{
    background:#b5bab9;
    font-size:1.1em;
    line-height:21px;
	color:#ffffff;
}

.RadGrid_Thiago .rgGroupHeader td
{
    padding:0 8px;
}

.RadGrid_Thiago td.rgGroupCol,
.RadGrid_Thiago td.rgExpandCol
{
	/*background:#b5bab9 none;*/
	/*border-color:#b5bab9;*/ 
}

.RadGrid_Thiago .rgExpand
{
	background-position:0px -497px;
}

.RadGrid_Thiago .rgCollapse
{
	background-position:0px -446px;
}

/*editing*/

.RadGrid_Thiago .rgEditForm
{
	border-bottom:1px solid #9fa6a5;
}

.RadGrid_Thiago .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_Thiago .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/


.RadGrid_Thiago .rgDetailTable
{
	/*border-color:#9fa6a5;*/
	background: #fcfcfc; 
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #FFF; /*EDITED*/
}
#MainContent_balancesPanel .RadGrid .rgDetailTable {border:0px;}
	
.RadGrid_Thiago .rgDetailTable .rgHeader 
{
 background: #4c9356; /*text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);*/ color: #ffffff; text-shadow: none; /*border-top:1px dotted #B8BCC8; */
}

.RadGrid_Thiago .rgDetailTable.BudgetItemsBalance {/*border-bottom:1px solid #D23315;*/}
.RadGrid_Thiago .rgDetailTable.BudgetItemsBalance .rgHeader {background:#516464;}
.RadGrid_Thiago .rgDetailTable.BudgetItemsBalance .rgRow {background:#ffffff;} 
.RadGrid_Thiago .rgDetailTable.BudgetItemsBalance .rgAltRow td {background:#edf0f5 ;}
.RadGrid_Thiago .rgDetailTable.BudgetItemsBalance tfoot{}


/*command row*/

.RadGrid_Thiago .rgCommandRow
{
	background:#6b7070 0 -2099px repeat-x url('Grid/sprite.gif');
	color:#ffffff;
}

.RadGrid_Thiago .rgCommandCell
{
	border:1px solid #3b403f;
	padding:0;
}

.RadGrid_Thiago .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_Thiago .rgCommandTable
{
	border:1px solid;
	border-color:#848a89 #575c5b #787d7c;
}

.RadGrid_Thiago .rgCommandRow a
{
	color:#ffffff;
	text-decoration:none;
}

.RadGrid_Thiago .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_Thiago .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_Thiago .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_Thiago .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_Thiago .rgExpXLS,
.RadGrid_Thiago .rgExpDOC,
.RadGrid_Thiago .rgExpPDF,
.RadGrid_Thiago .rgExpCSV
{
	background-image:url('Common/export.gif');
}

.RadGrid_Thiago .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_Thiago .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_Thiago .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_Thiago .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_Thiago
{
	background:#656b6a;
}

/*row drag n drop*/

.GridItemDropIndicator_Thiago
{
    border-top:1px dashed #656b6a;
}

/*tooltip*/

.GridToolTip_Thiago
{
	border:1px solid #9fa6a5;
	padding:3px;
	background:#e6e8e8;
	color:#000000;
}

/*rtl*/

.RadGridRTL_Thiago .rgHeader:first-child,
.RadGridRTL_Thiago th.rgResizeCol:first-child,
.RadGridRTL_Thiago .rgFilterRow>td:first-child,
.RadGridRTL_Thiago .rgRow>td:first-child,
.RadGridRTL_Thiago .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_Thiago .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_Thiago .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_Thiago .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_Thiago .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_Thiago .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_Thiago .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_Thiago .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_Thiago .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_Thiago .rgExpand
{
	background-position:-20px -496px;
}

 DIV.RadGrid_Thiago .rgRow 
{
	/*FONT-FAMILY: segoe ui, arial, sans-serif;*/
	background: #ffffff;}


 DIV.RadGrid_Thiago TR.rgSelectedRow 
{
	COLOR: #000000;
}

/* CUSTOM CSS EDITS */

.rgPager td 
{
	/*background-image: url(Grid/rgPager.gif);
	background-repeat: repeat; 
	height: 52px;*/	
    background-color: #FAFAFA;
	border-bottom: 1px solid #cee6f8;
	border-top: 1px solid #b8bcc8;
}

.rgMasterTable 
{
	
	margin-bottom:10px;

}
.rgMasterTable td input{}
.rgMasterTable tr td:first-child + td + td + td + td + td { }
.rgMasterTable td{}

/*#ctl00_ctl00_MainContent_btnTransferPanel {
	width:100%;
	background: #b6d6ea;
	float: left;
	padding: 10px 10px 10px 0;
    width: 630px;
}*/


/*#ctl00_ctl00_MainContent_btnAddPayeePanel {
	width:100%;
	background: #B6D6EA;
	float: left;
	padding: 10px 10px 10px 0;
    width: 630px;
	margin-top:1px;
	position:relative;
	top:-11px;}*/


/*#ctl00_ctl00_MainContent_gridTrThiagotionsPanel tr.RadGrid td.rgPagerCell {padding:10px 0;}*/
.RadGrid .rgNumPart {}
/*#MainContent_ListPayeesPanel {background: #D0DCBA;  padding-bottom: 10px; margin-top:70px;}*/
/*#ctl00_MainContent_Table1 {width:100%;}*/

.RadGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td, .RadGrid .rgFilterRow td, .RadGrid .rgHeader, .RadGrid .rgResizeCol, .RadGrid .rgGroupHeader td {padding-left:2px !important; padding-right:5px !important;}
