/*Telerik RadInput WebBlue Skin*/

/*global*/

.RadInput_Thiago,
.RadInputMgr_Thiago
{
	font:11px/18px "Raleway",sans-serif;
	width: 200px !important;
}

/*textbox states*/

html body span.RadInput_Thiago .riTextBox,
html body span.RadInputMgr_Thiago
{
	background: #fff none repeat scroll 0 0;
    border-color: #999;
    color: #333;
    font: 13px Arial,sans-serif;
}


html body span.riSingle .riTextBox
{	padding:3px 5px;
}

html body .RadInput_Thiago .riEmpty,
html body .RadInput_Empty_Thiago
{
	color:#777;
}

html body .RadInput_Thiago .riHover,
html body .RadInput_Hover_Thiago,
html body .RadInput_Thiago .riFocused,
html body .RadInput_Focused_Thiago
{
	border-color:#133c44;
}

html body .RadInput_Thiago .riRead,
html body .RadInput_Read_Thiago
{}

.DisabledTextbox {background: rgba(0, 0, 0, 0.1) !important; color: #888888 !important; border-color:#bec5d4 !important;}
.ReadonlyTextbox {background: rgba(0, 0, 0, 0.05) !important; color: #666 !important; border-color:#bec5d4 !important; }



html body .RadInput_Thiago .riDisabled,
html body .RadInput_Disabled_Thiago
{
	border-color:#609EC8;
	color:#777;
	cursor:default;
}

html body .RadInput_Thiago .riError,
html body .RadInput_Error_Thiago
{
	border-color:#d24000;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#b32d34;
}

.RadForm.rfdTextbox .RadInput_Thiago .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_Thiago[type="text"]
{
	border-color:#d24000;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#b32d34;
}

html body .RadInput_Thiago .riNegative,
html body .RadInput_Negative_Thiago
{
	color:#444;
}

/*buttons*/

.RadInput_Thiago a
{
	background:transparent no-repeat url('Input/sprite.gif');
}

/*go*/

.RadInput_Thiago .riBtn a
{
	width:20px;
	height:18px;
	line-height:18px;
	background-position:3px 5px;
}

.RadInput_Thiago .riBtn a:hover
{
	background-position:3px -45px;
}

/*spin*/

.RadInput_Thiago .riSpin a
{
	width:15px;
	height:7px;
	line-height:7px;
}

.RadInput_Thiago a.riUp
{
	background-position:4px -98px;
}

.RadInput_Thiago a.riUp:hover
{
	background-position:4px -148px;
}

.RadInput_Thiago a.riDown
{
	background-position:4px -199px;
}

.RadInput_Thiago a.riDown:hover
{
	background-position:4px -249px;
}

/*label*/

.RadInput_Thiago .riLabel
{
	color:#000;
}

/*rtl*/

html body .RadInputRTL_Thiago .riError,
html body .RadInputRTL_Error_Thiago
{
	background-position:3px -298px;
}

.RadForm.rfdTextbox .RadInputRTL_Thiago .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_Thiago[type="text"]
{
	background-position:3px -298px;
}