/* <RadMenu / WebBlue> */

.RadMenu_Thiago .rmRootGroup,
.RadMenu_Thiago a.rmLink,
.RadMenu_Thiago .rmText,
.RadMenu_Thiago .rmLeftArrow,
.RadMenu_Thiago .rmRightArrow,
.RadMenu_Thiago .rmTopArrow,
.RadMenu_Thiago .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Thiago .rmRootGroup
{
	border: 1px solid #3d556c;
	background-color: #627f97;
}

.RadMenu_Thiago .rmHorizontal
{
	background-position: 0 0;
	background-repeat: repeat-x;
}

.RadMenu_Thiago .rmVertical
{
	background-position: 0 -425px;
	background-repeat: repeat-x;
}

/* <Root items> */

.RadMenu_Thiago,
.RadMenu_Thiago a.rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	text-decoration: none;
}

.RadMenu_Thiago a.rmLink
{
	color: #fff;
}

.RadMenu_Thiago a.rmLink,
.RadMenu_Thiago .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_Thiago a.rmLink:hover,
.RadMenu_Thiago a.rmFocused,
.RadMenu_Thiago a.rmSelected
{
	color: #0d202b;
	background-position: 0 -72px;
}

.RadMenu_Thiago a.rmLink:hover .rmText,
.RadMenu_Thiago a.rmFocused .rmText,
.RadMenu_Thiago a.rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Thiago a.rmExpanded,
.RadMenu_Thiago a.rmExpanded:hover
{
	color: #0d202b;
	background-position: 0 -120px;
}

.RadMenu_Thiago a.rmExpanded .rmText,
.RadMenu_Thiago a.rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_Thiago a.rmDisabled,
.RadMenu_Thiago a.rmDisabled:hover
{
	color: #aaa;
}

.RadMenu_Thiago a.rmDisabled:hover,
.RadMenu_Thiago a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Thiago .rmGroup,
.RadMenu_Thiago .rmMultiColumn,
.RadMenu_Thiago .rmGroup .rmVertical
{
	border: 1px solid #768ca5;
	background: #f0f2f4 url('Menu/rmVSprite.png') repeat-y 0 0;
}

.RadMenu_Thiago .rmTopFix,
.RadMenu_Thiago .rmBottomFix,
.RadMenu_Thiago .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Thiago .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Thiago .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Thiago_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Thiago_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f0f2f4; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

* html .rmRoundedCorners_Thiago .rmGroup .rmItem,
* html .rmRoundedCorners_Thiago ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f0f2f4; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

.RadMenu_Thiago .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Thiago .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Thiago .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Thiago .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Thiago .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Thiago .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Thiago_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Thiago_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Thiago_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Thiago_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_Thiago .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Thiago .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Thiago .rmHorizontal .rmItem,
* html .rmRoundedCorners_Thiago .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_Thiago .rmRoundedCorners .rmGroupColumn
{
	background-color: #f0f2f4;
}

.RadMenu_Thiago .rmBottomLeft,
.RadMenu_Thiago .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Thiago_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Thiago_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Thiago .rmRoundedCorners ul.rmGroup,
.RadMenu_Thiago .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_Thiago .rmScrollWrapContainer,
* html .rmRoundedCorners_Thiago .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Thiago ul.rmGroup
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Thiago .rmTopRight,
.RadMenu_Thiago .rmBottomRight
{
	background-image:  url('Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Thiago .rmTopFix,
.RadMenu_Thiago .rmBottomFix,
.RadMenu_Thiago .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Thiago_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Thiago .rmGroup .rmFirst
{
	border-color: #768ca5;
}

.RadMenu_Thiago li.rmTopFix,
.RadMenu_Thiago li.rmBottomFix
{
	background: #f0f2f4;
}

.RadMenu_Thiago .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Thiago .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Thiago .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Thiago .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Thiago_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Thiago_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Thiago_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Thiago_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f0f2f4;
	border: 0;
}

* html .rmRoundedCorners_Thiago .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Thiago .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Thiago .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Thiago .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f0f2f4;
	border: 0;
}

.RadMenu_Thiago_rtl .rmBottomLeft,
.RadMenu_Thiago_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Thiago_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Thiago .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Thiago .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Thiago_Context_rtl ul.rmGroup,
.RadMenu_Thiago_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_Thiago_rtl .rmTopRight,
.RadMenu_Thiago_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_Thiago_rtl li.rmTopFix,
.RadMenu_Thiago_rtl li.rmBottomFix,
.RadMenu_Thiago_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Thiago_Context_rtl ul.rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_Thiago .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Thiago_rtl .rmGroup,
.RadMenu_Thiago_rtl .rmMultiColumn,
.RadMenu_Thiago_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_Thiago .rmGroup a.rmLink
{
	color: #000;
}

.RadMenu_Thiago .rmGroup a.rmLink:hover,
.RadMenu_Thiago .rmGroup a.rmFocused,
.RadMenu_Thiago .rmGroup a.rmSelected
{
	color: #0e3d4f;
}

.RadMenu_Thiago .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Thiago .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Thiago .rmGroup .rmFirst,
.RadMenu_Thiago .rmGroup .rmLast,
.RadMenu_Thiago .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_Thiago_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Thiago .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_Thiago .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Thiago .rmGroup a.rmLink:hover,
.RadMenu_Thiago .rmGroup a.rmFocused,
.RadMenu_Thiago .rmGroup a.rmSelected,
.RadMenu_Thiago .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Thiago .rmGroup a.rmLink:hover .rmText,
.RadMenu_Thiago .rmGroup a.rmFocused .rmText,
.RadMenu_Thiago .rmGroup a.rmSelected .rmText,
.RadMenu_Thiago .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

.RadMenu_Thiago .rmGroup a.rmDisabled,
.RadMenu_Thiago .rmGroup a.rmDisabled:hover
{
	color: #aaa;
}

/* <expand arrows> */

.RadMenu_Thiago .rmVertical .rmExpandRight,
.RadMenu_Thiago_Context .rmGroup .rmExpandRight,
.RadMenu_Thiago .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Thiago .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Thiago .rmVertical a.rmFocused .rmExpandRight,
.RadMenu_Thiago .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Thiago .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Thiago .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_Thiago .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_Thiago .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_Thiago .rmVertical a.rmSelected .rmExpandLeft
{
    background-image: url('Menu/rmRootExpand.png');
}

.RadMenu_Thiago .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Thiago .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Thiago .rmVertical a.rmFocused .rmExpandRight
{
	background-position: 100% -2px;
}

.RadMenu_Thiago .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Thiago .rmVertical a.rmExpanded:hover .rmExpandRight
{
	background-position: 100% -29px;
}

.RadMenu_Thiago .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Thiago .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Thiago .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Thiago .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Thiago .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Thiago .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Thiago .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Thiago .rmGroup a.rmExpanded .rmExpandLeft,
.RadMenu_Thiago .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Thiago .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Thiago .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Thiago .rmGroup a.rmExpanded .rmExpandDown
{
    background-image: url('Menu/rmSprite.png');
	background-position: 100% -240px;
}

.RadMenu_Thiago .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Thiago_Context .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Thiago_Context .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Thiago .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Thiago_rtl a.rmLink:hover,
.RadMenu_Thiago_rtl a.rmFocused,
.RadMenu_Thiago_rtl a.rmSelected
{
    background-position: 100% -96px;
}

.RadMenu_Thiago_rtl a.rmLink:hover .rmText,
.RadMenu_Thiago_rtl a.rmFocused .rmText,
.RadMenu_Thiago_rtl a.rmSelected .rmText
{
    background-position: 0 -72px;
}

.RadMenu_Thiago_rtl a.rmExpanded,
.RadMenu_Thiago_rtl a.rmExpanded:hover
{
    background-position: 100% -144px;
}

.RadMenu_Thiago_rtl a.rmExpanded .rmText,
.RadMenu_Thiago_rtl a.rmExpanded:hover .rmText
{
    background-position: 0 -120px;
}

.RadMenu_Thiago_rtl .rmGroup a.rmLink:hover,
.RadMenu_Thiago_rtl .rmGroup a.rmFocused,
.RadMenu_Thiago_rtl .rmGroup a.rmSelected,
.RadMenu_Thiago_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Thiago_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Thiago_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Thiago_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Thiago_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Thiago_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_Thiago_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Thiago_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_Thiago_rtl a.rmSelected .rmExpandLeft,
.RadMenu_Thiago_rtl a.rmFocused .rmExpandLeft
{
	background-position: 0 -2px;
}

.RadMenu_Thiago_rtl a.rmExpanded .rmExpandLeft,
.RadMenu_Thiago_rtl a.rmExpanded:hover .rmExpandLeft
{
	background-position: 0 -29px;
}

.RadMenu_Thiago_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Thiago_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Thiago_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Thiago_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
	background-position: 0 -336px;
}

.RadMenu_Thiago_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Thiago_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (WebBlue - specific, overlapping submenus)> */

.RadMenu_Thiago .rmSlide
{
	margin: -3px 0 0 1px;
}

.RadMenu_Thiago .rmVertical .rmSlide,
.RadMenu_Thiago .rmSlide .rmSlide,
.RadMenu_Thiago_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Thiago_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_Thiago_rtl .rmVertical .rmSlide,
.RadMenu_Thiago_rtl .rmSlide .rmSlide,
.RadMenu_Thiago_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Thiago .rmLeftArrow,
.RadMenu_Thiago .rmRightArrow
{
	background-color: #E0E5F5;
}

.RadMenu_Thiago .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #B7BDCD; }
.RadMenu_Thiago .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #B7BDCD; }

.RadMenu_Thiago .rmTopArrow,
.RadMenu_Thiago .rmBottomArrow,
.RadMenu_Thiago .rmGroup .rmLeftArrow,
.RadMenu_Thiago .rmGroup .rmRightArrow
{
	background-color: #f0f0f0;
}

.RadMenu_Thiago .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #B7BDCD; }
.RadMenu_Thiago .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #B7BDCD; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Thiago .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Thiago_Context .rmVertical .rmSeparator .rmText,
.RadMenu_Thiago .rmVertical .rmVertical .rmSeparator .rmText,
.RadMenu_Thiago .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -408px;
}

.RadMenu_Thiago .rmHorizontal .rmSeparator .rmText,
.RadMenu_Thiago .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / WebBlue> */
