.RadPanelBar_Thiago
{
	background: #fff;
}

.RadPanelBar_Thiago .rpRootGroup
{
	border-color: #768ca5 #768ca5 #3D556C;
}

.RadPanelBar_Thiago a.rpLink,
.RadPanelBar_Thiago .rpTemplate
{
	font: normal 12px/24px "Segoe UI", Arial, sans-serif;
}

.RadPanelBar_Thiago a.rpLink,
.RadPanelBar_Thiago div.rpHeaderTemplate
{
    color: #fff;
	background-color: #a6d9f4;
	background-image: url('PanelBar/RootItemBg.png');
	border-color: #889eb1;
}

.RadPanelBar_Thiago .rpOut
{
	border-color: #718CA2;
}

.RadPanelBar_Thiago a.rpExpanded,
.RadPanelBar_Thiago div.rpExpanded
{
	border-color: #3d556c;
}

.RadPanelBar_Thiago a.rpLink:hover,
.RadPanelBar_Thiago a.rpFocused,
.RadPanelBar_Thiago a.rpSelected,
.RadPanelBar_Thiago div.rpFocused,
.RadPanelBar_Thiago div.rpSelected
{
	color: #0e3d4f;
}

.RadPanelBar_Thiago a.rpSelected,
.RadPanelBar_Thiago div.rpSelected,
.RadPanelBar_Thiago a.rpSelected:hover
{
	background-color: #90cbea;
	border-color: #2c628b;
}

/* <disabled items> */
.RadPanelBar_Thiago a.rpDisabled,
.RadPanelBar_Thiago div.rpDisabled,
.RadPanelBar_Thiago a.rpDisabled:hover
{
	color: #bbb;
}

.RadPanelBar_Thiago a.rpDisabled:hover .rpOut
{
	border-color: #e8f5fc;
}
/* </disabled items> */

/* <subitems> */
.RadPanelBar_Thiago .rpGroup
{
	background-color: #fff;
}

.RadPanelBar_Thiago .rpGroup a.rpLink,
.RadPanelBar_Thiago .rpGroup div.rpHeaderTemplate,
.RadPanelBar_Thiago .rpGroup .rpTemplate
{
	color: #000;
	background-color: transparent;
	background-image: none;
}

.RadPanelBar_Thiago .rpGroup a.rpLink:hover
{
	color: #000;
}

.RadPanelBar_Thiago .rpGroup a.rpLink,
.RadPanelBar_Thiago .rpGroup .rpOut
{
	background-color: transparent;
	background-image: url('PanelBar/SubItemStates.png');
	background-repeat: no-repeat;
}


/* <subitems (disabled)> */
.RadPanelBar_Thiago ul.rpGroup .rpDisabled,
.RadPanelBar_Thiago .rpGroup a.rpDisabled:hover,
.RadPanelBar_Thiago .rpGroup a.rpDisabled:hover .rpOut
{
	background-image: none;
}

.RadPanelBar_Thiago ul.rpGroup .rpDisabled,
.RadPanelBar_Thiago .rpGroup a.rpDisabled:hover
{
	color: #bbb;
	text-decoration: none;
	background-color: #fff;
}
/* </subitems (disabled)> */

/* <subitems> */

/* <background positioning> */
.RadPanelBar_Thiago a.rpFocused,
.RadPanelBar_Thiago div.rpFocused,
.RadPanelBar_Thiago a.rpLink:hover,
.RadPanelBar_Thiago a.rpExpanded:hover
{
	background-position: 0 -200px;
}

.RadPanelBar_Thiago a.rpLink,
.RadPanelBar_Thiago div.rpHeaderTemplate,
.RadPanelBar_Thiago a.rpExpanded,
.RadPanelBar_Thiago div.rpExpanded,
.RadPanelBar_Thiago .rpItem a.rpLinkExpandHovered
{
	background-position: 0 0;
}

.RadPanelBar_Thiago a.rpSelected,
.RadPanelBar_Thiago div.rpSelected,
.RadPanelBar_Thiago a.rpSelected:hover
{
	background-position: 0 -400px;
}

.RadPanelBar_Thiago .rpFirst a.rpLink,
.RadPanelBar_Thiago .rpFirst div.rpHeaderTemplate,
.RadPanelBar_Thiago li.rpFirst .rpExpanded
{
	background-position: 0 -1px;
}

.RadPanelBar_Thiago li.rpFirst .rpFocused,
.RadPanelBar_Thiago .rpFirst a.rpLink:hover
{
	background-position: 0 -201px;
}

.RadPanelBar_Thiago li.rpFirst .rpSelected,
.RadPanelBar_Thiago .rpFirst a.rpSelected:hover
{
	background-position: 0 -401px;
}

/* <root items (disabled)> */
.RadPanelBar_Thiago a.rpDisabled:hover
{
	cursor: default;
}

.RadPanelBar_Thiago a.rpDisabled,
.RadPanelBar_Thiago div.rpDisabled,
.RadPanelBar_Thiago a.rpDisabled:hover,
.RadPanelBar_Thiago a.rpDisabled:hover .rpOut
{
	background-position: 0 0;
}
/* </root items (disabled)> */

/*      <expand arrows> */
/* <expand arrows> */
.RadPanelBar_Thiago .rpExpandable span.rpExpandHandle,
.RadPanelBar_Thiago .rpExpanded span.rpExpandHandle
{
	background-color: transparent;
	background-image: url('PanelBar/Expandable.png');
	background-repeat: no-repeat;
}

.RadPanelBar_Thiago_rtl .rpGroup .rpText
{
	padding: 0 10px;
}

.RadPanelBar_Thiago .rpExpandable span.rpExpandHandle,
.RadPanelBar_Thiago a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -5px; }
.RadPanelBar_Thiago a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_Thiago a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -5px; }
.RadPanelBar_Thiago .rpExpanded span.rpExpandHandle,
.RadPanelBar_Thiago a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -181px; }
.RadPanelBar_Thiago a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_Thiago a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -181px; }

.RadPanelBar_Thiago div.rpExpandable .rpExpandHandleHovered { background-position: 0 -5px; }
.RadPanelBar_Thiago div.rpExpanded .rpExpandHandleHovered { background-position: 0 -181px; }

/*      </expand arrows> */

.RadPanelBar_Thiago .rpGroup a.rpLink,
.RadPanelBar_Thiago .rpGroup div.rpHeaderTemplate,
.RadPanelBar_Thiago .rpGroup a.rpLink .rpOut { background-position: 0 200px; }

.RadPanelBar_Thiago .rpGroup a.rpLink:hover,
.RadPanelBar_Thiago ul.rpGroup .rpFocused { background-position: 100% -22px; }
.RadPanelBar_Thiago .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar_Thiago .rpGroup a.rpFocused .rpOut { background-position: 0 0; }

/*      <subitems (selected)> */
.RadPanelBar_Thiago ul.rpGroup .rpSelected,
.RadPanelBar_Thiago .rpGroup a.rpSelected:hover { background-position: 100% -222px; background-color: transparent; }
.RadPanelBar_Thiago .rpGroup a.rpSelected .rpOut,
.RadPanelBar_Thiago .rpGroup a.rpSelected:hover .rpOut { background-position: 0 -200px; }
/*      </subitems (selected)> */

/*      <subitems (expand arrows)> */
.RadPanelBar_Thiago ul.rpGroup .rpExpandable .rpExpandHandle,
.RadPanelBar_Thiago .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -343px; }
.RadPanelBar_Thiago .rpGroup a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_Thiago .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -343px; }
.RadPanelBar_Thiago ul.rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar_Thiago .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -482px; }
.RadPanelBar_Thiago .rpGroup a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_Thiago .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -482px; }

.RadPanelBar_Thiago .rpGroup div.rpExpandable .rpExpandHandleHovered { background-position: 0 -343px; }
.RadPanelBar_Thiago .rpGroup div.rpExpanded .rpExpandHandleHovered { background-position: 0 -482px; }
/*      </subitems (expand arrows)> */
/* </background positioning> */
